/* General */
body, html {
    height:100%;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #202020;
    color: white;
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('Images/Background.jpg');
    background-position: center;
    height: 100%;
}
.main .text {
    text-align: center;
    height:fit-content;
    background-color: #202020;
    padding: 30px 15px;
    border-radius: 5px;
}
.main .text strong {
    font-size: 50px;
}

.main .links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.main .links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #202020;
}

/* About */



/* Portfolio */



/* Social */